h1{
   background-color: blue;
   color:white;
}

p {
    font-weight: bold;
    font-size: 3rem;
}

h2 {
    color: red;
}

.firstClass {
    color: blue;
}

#firstId {
    color: yellow;
}

div {
    border:1px solid black;
    border-radius: 30px;
    display:inline-block;
    width:100px;
    height:100px;
    
    text-align: center;
    vertical-align:middle;
    padding:20px 10px;     /*박스 내부에 여유를 줌*/
    margin:10px 20px;       /*박스 외부에 여유를 줌*/
    right: 30px;
}

#boxC {
    /*position: static;*/
    position: fixed;
    bottom:0px;
    right:0px;
}