<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1>글쓰기</h1>
    
    <form method="POST" action="{% url 'create' %}">
        {% csrf_token %}   <!--포스트사용시 언급해주어야함-->
        <input type="text" name="title" placeholder="제목입력..."/>
        <input type="text" name="nickname" placeholder="별명입력..."/>
        <input type="textarea" name="body" placeholder="내용입력..."/>
        <input type="submit"/>
        
    </form>
    
    <h1>메인페이지</h1>
    {% for one_post in dispaly_post %}
        <h3>제목 : {{ one_post.title }}</h3>
        <p>내용 : {{ one_post.body }}</p>
    {% endfor %}
    
   
    <!--href="second.html" 하면 안됨.-->
    <a href="{% url 'second' %}">두번째 페이지</a>  
    
</body>
</html>